################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bari.Prova/DesignTimeBuild/.dtbcache.v2
