################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bari.Prova/DesignTimeBuild/.dtbcache.v2
/Bari.Prova.Application/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Bari.Prova.Application/obj/Debug/netcoreapp3.1/Bari.Prova.Application.AssemblyInfo.cs
*.cache
*.dll
*.pdb
/Bari.Prova.Application/obj/Bari.Prova.Application.csproj.nuget.dgspec.json
/Bari.Prova.Application/obj/Bari.Prova.Application.csproj.nuget.g.props
/Bari.Prova.Application/obj/Bari.Prova.Application.csproj.nuget.g.targets
/Bari.Prova.Application/obj/project.assets.json
/Bari.Prova.Domain/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Bari.Prova.IoC/obj/project.assets.json
/Bari.Prova.IoC/obj/Debug/netcoreapp3.1/Bari.Prova.IoC.csproj.FileListAbsolute.txt
/Bari.Prova.IoC/obj/Debug/netcoreapp3.1/Bari.Prova.IoC.csproj.CopyComplete
/Bari.Prova.IoC/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Bari.Prova.MicroServico/obj/Debug/netcoreapp3.1/Bari.Prova.MicroServico.exe
/Bari.Prova.MicroServico/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Bari.Prova.MicroServico/obj/Debug/netcoreapp3.1/Bari.Prova.MicroServico.csproj.CopyComplete
/Bari.Prova.MicroServico/obj/Debug/netcoreapp3.1/Bari.Prova.MicroServico.csproj.FileListAbsolute.txt
/Bari.Prova.MicroServico/obj/project.assets.json
/Bari.Prova.Queueing/bin/Debug/netstandard2.0/Bari.Prova.Queueing.deps.json
/Bari.Prova.Queueing/bin/Debug/Bari.Prova.Queueing.1.0.1.nupkg
/Bari.Prova.Queueing/obj/Debug
/Bari.Prova.Application/obj/Debug/netcoreapp3.1
/Bari.Prova.Queueing/obj
/.vs/Bari.Prova/v16/.suo
